.profile__edit-button {
    padding: 0;
    width: 24px;
    height: 24px;
    background-image: url(../../../image/edit_button.svg);
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    display: flex;
    transition: .2s;
    outline: none;
}

.profile__edit-button:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width: 915px) {
    .profile__edit-button {
        height: 18px;
    }
}