.popup__input {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: black;
    padding: 8px 0 13px 0;
    width: 238px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__input:active {
    border: none;
}

@media screen and (min-width: 768px) {
    .popup__input {
        padding: 13px 0 13px 0;
        width: 358px;
    }
}