.popup__input {
    position: relative;
    margin-bottom: 18px;
    display: flex;
    height: 40px;
    width: 100%;
    color: #000;
    border: 0;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    letter-spacing: 0;
    text-align: left;
}

.popup__input:focus {
    outline: none;
}

@media screen and (max-width:520px) {
    .popup__input {
        height: 36px;
    }
}


.popup__input:first-of-type {
    margin-top: 41px;
}

.popup__input:last-of-type {
    margin-bottom: 10px;
}