.popup__container {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: white;
    width: 282px;
    border-radius: 10px;
    position: relative;
}

@media screen and (min-width: 768px) {
    .popup__container {
        width: 430px;
        border-radius: 10px;
    }
}