.profile__about {
    margin: 0 16px 0 0;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 526px;
}

@media screen and (max-width: 700px) {
    .profile__about {
        margin-top: 0;
        font-size: 14px;
        line-height: 17px;
        max-width: 282px;
        text-align: center;
    }
}