.profile__about {
    margin: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 75%;
}

@media screen and (max-width: 915px) {
    .profile__about {
        font-size: 14px;
        line-height: 17px;
    }
}

@media screen and (max-width: 620px) {
    .profile__about {
        margin: 0 auto;
    }
}