.popup__content {
    padding: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (min-width: 768px) {
    .popup__content {
        padding: 36px;
    }
}