.popup__content {
    height: 100%;
    position: relative;
    margin: auto;
}


@media screen and (max-width:520px) {
    .popup__content {
        max-width: calc(100vw - 38px);
        padding: 0;
    }
}