.header__logo {
    background-image: url(../../../image/logo.svg);
    background-size: cover;
    width: 142px;
    height: 33px;
}

@media screen and (max-width: 915px) {
    .header__logo {
        margin-left: 27px;
    }
}

@media screen and (max-width: 425px) {
    .header__logo {
        width: 104px;
        height: 24px;
    }
}