.profile__add-button {
    padding: 0;
    left: 200px;
    width: 150px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 2px;
    background-image: url(../../../image/add_button.svg);
    background-position: center;
    background-repeat: no-repeat;
    transition: .2s;
}

.profile__add-button:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width: 425px) {
    .profile__add-button {
        width: 100%;
        max-width: 320px;
    }
}