.popup__submit {
    margin-top: 38px;
    height: 50px;
    width: 100%;
    background-color: #000;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
}

.popup__submit:hover:enabled {
    background-color: rgb(0, 0, 0, .8);
}

@media screen and (max-width:520px) {
    .popup__submit {
        margin-top: 28px;
        font-size: 14px;
        line-height: 17px;
        height: 40px;
    }
}