.popup__submit {
    width: 100%;
    height: 46px;
    background-color: black;
    color: #FFFFFF;
    border: none;
    border-radius: 2px;
    transition: opacity .8s ease 0s;
    margin-top: 11px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;

}

.popup__submit:hover {
    cursor: pointer;
    opacity: 0.8;
}

.popup__submit:active {
    transform: scale(0.95);
    transition: all .1s ease 0s;
}

@media screen and (min-width: 598px) {
    .popup__submit {
        margin-top: 25px;
        font-size: 18px;
        height: 50px;
    }
}