.popup__close {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    right: 0;
    background-image: url("../../../image/close_icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
    border: 0;
    cursor: pointer;
}

.popup__close:focus {
    outline: none;
}

.popup__close:hover {
    opacity: 0.6;
}

@media screen and (max-width:520px) {
    .popup__close {
        top: -36px;
        width: 20px;
        height: 20px;
    }
}